.perfil_container_botao{
    text-align: center;
    margin: 20px;
}
.perfil_erro{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.perfil_alerta_preenchimento{
    text-align: center;
    color: red;
}

.perfil_declaracao{
    font-size: 1.1rem;
    font-weight: bold;
}